<section class="about">
  <h2>About HomeGame</h2>
  <p>Home game is a web application where users can search for home games and rsvp to them.</p>
  <p>Users can create their own home game and list the game details.</p>
  <p>Users need to sign up in order for them to create a home game or rsvp to a home game.</p>
  <p>Users can search for games by their city location.
</section>
