<section class="game-show">
  <a href="/games">Back to games list</a>
  <h2>Game Details</h2>
  <p>Date</p>
  <p>Game type: </p>
  <p>Buyin:</p>
  <p>City:</p>
  <p>Address:</p>
  <p>Description:</p>

</section>
