<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HomeGame</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="wrapper">
    <nav class="navbar">
      <div class="top-nav">

      <a href="/"><img src="/css/images/homegamelogo.png" class="logo"></a>

      <ul class="navigation">

        <li class="header-link"><a href="/">Home</a></li>
        <li class="header-link"><a href="/games">Games</a></li>
        <li class="header-link"><a href="/about">About</a></li>


        <% if logged_in? %>
          <!-- display username -->

          <!-- Log Out Button -->
          <li class="header-link"><a href="/session/logout">Logout</a></li>

          <% else %>
          <li class="header-link"><a href="/session/new">Login</a></li>
          <!-- sign up -->
          <li class="header-link"><a href="/session/signup">Signup</a></li>
          <% end %>
        </div>
          <aside class="page-header">
            <% if logged_in? %>
            <h5 id="welcome">Welcome <%= current_user.name %>!
              <button id="accountBtn"><a href="/">Profile</a></button>
            </h5>
            <% end %>
          </aside>
      </ul>


    </nav>



    <%= yield %>

  </div>

</body>
</html>
