<div class="login-body">

  <form class="login-form" action="/session" method="post">
    <h2 class="login-heading">Please login</h2>
    <label for="inputEmail" class="login-only">Email address</label>
    <input name="input-email" type="email" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="login-only">Password</label>
    <input name="input-password" type="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me">Remember <menu>
        </label>
        <span>Register new account</span>
        <a href="/register">Register</a>
      </div>
      <button class="main-login-btn" type="submit">Sign in</button>
      
  </form>
</div>
