<section class="login-body">

  <form class="login-form" action="/session" method="post">
    <h2 class="login-heading">Please login</h2>
    <label for="inputEmail" class="login-only">Email address</label><br/>
    <input name="input_email" type="email" class="form-control" placeholder="Email address" required autofocus><br/>
    <label for="inputPassword" class="login-only">Password</label><br/>
    <input name="input_password" type="password" class="form-control" placeholder="Password" required><br/>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me">Remember
        </label>
        <div class="new-account">
          <span>Sign up new account:</span>
          <a href="/signup">Signup</a>
        </div>
    </div>
      <button class="btns" type="submit">Login</button>

  </form>
</section>
