<section class="new-game">
  <h2>Details of your new home game</h2>

  <form class="" action="/games" method="post" enctype="multipart/form-data">
    <label for="">Start date of your home game</label><br/>
    <input type="DATE" name="input_date" value=""><br/>

    <label for="">Buyin</label><br/>
    <input type="text" name="input_buyin" value="" required><br/>

    <label for="">Address</label><br/>
    <input type="text" name="input_address" value=""><br/>

    <label for="">City</label><br/>
    <input type="text" name="input_city" value="" required><br/>

    <label for="">Description</label><br/>
    <input type="text" name="input_description" value=""><br/>

    <button class="btns">Create game</button>

  </form>


</section>
