<section class="signup">
  <h2 class="page-title">Sign up</h2>

  <form class="signup-form" action="/signup/new" method="post" enctype="multipart/form-data">
      <label>Name</label><br/>
      <input type="text" name="input_name" placeholder="Name" class="signup-input"><br/>

      <label>Email address</label><br/>
      <input type="text" name="input_email" placeholder="Email Address" class="signup-input"><br/>

      <label>Password</label><br/>
      <input type="password" name="input_password" placeholder="Password" class="signup-input"><br/>

      <label>Confirm password</label><br/>
      <input type="password" name="password_confirm" placeholder="Confirm Password" class="signup-input"><br/>

      <button class="btns" id="create">Create Account</button>
    </form>

</section>
