<section class="signup">
  <h2 class="page-title">Sign up</h2>

  <form class="signup-form wrapper" action="/signup" method="post" enctype="multipart/form-data">
      <label>Name</label>
      <input type="text" name="input-name" placerholder="Name" class="signup-input">
      
      <label>Email address</label>
      <input type="text" name="email" placeholder="Email Address" class="signup-input">

      <label>Password</label>
      <input type="password" name="password" placeholder="Password" class="signup-input">

      <label>Confirm password</label>
      <input type="password" name="password_confirm" placeholder="Confirm Password" class="signup-input">

      <button class="btn">Create Account</button>

</section>
