body {
  /*background-image: url("/css/images/suits-background.jpg");
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url("/css/images/suits-background.jpg");*/
  font-family: helvetica, arial;
  margin: 0 auto;
  text-align: center;
  height: 100%;

}

.navigation {
  padding: 0;
  text-align: right;
  margin: 0 15px 0 0;
  padding: 18px 0;
}

.logo {
  height: 28px;
  float: left;
  margin: 17px 0 0 15px;
}

.header-link {
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
}

.navbar {
  background-color: #18453B;
  color: #8FBC8F;
  text-decoration: none;
}
.navbar a:visited {
  text-decoration: none;
  color: #8FBC8F;
}
.navbar a:hover {
  color: red;
}


.index-body {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding-top: 10px;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding-left: 10px
}
